<form class="form-inline">
  <div class="form-group mx-sm-3 mb-2">
    <label for="search-term" class="sr-only"></label>
    <input type="text" class="form-control" id="search-term" placeholder="">
  </div>
  <button type="submit" class="btn btn-primary mb-2">Search</button>
</form>
